[submodule "multi_jackal_simulator"]
	path = multi_jackal_simulator
	url = git@github.com:NilsKompe/multi_jackal_simulator.git
[submodule "marker_localization"]
	path = marker_localization
	url = git@github.com:NilsKompe/marker_localization.git
[submodule "gazebo_models"]
	path = gazebo_models
	url = git@github.com:NilsKompe/gazebo_models.git
[submodule "slam/src/mrekf_slam"]
	path = slam/src/mrekf_slam
	url = git@github.com:NilsKompe/mrekf_slam.git
